

/MIPS CONTROLLER.xls
/control.v.bak
/db/altsyncram_1jh1.tdf
/db/altsyncram_2dh1.tdf
/db/altsyncram_2jh1.tdf
/db/altsyncram_4dh1.tdf
/db/altsyncram_5dh1.tdf
/db/altsyncram_cii1.tdf
/db/altsyncram_dii1.tdf
/db/altsyncram_eii1.tdf
/db/altsyncram_f5m1.tdf
/db/altsyncram_fii1.tdf
/db/altsyncram_g5m1.tdf
/db/altsyncram_gci1.tdf
/db/altsyncram_gii1.tdf
/db/altsyncram_h5m1.tdf
/db/altsyncram_hci1.tdf
/db/altsyncram_hii1.tdf
/db/altsyncram_i5m1.tdf
/db/altsyncram_ici1.tdf
/db/altsyncram_iii1.tdf
/db/altsyncram_j5m1.tdf
/db/altsyncram_jci1.tdf
/db/altsyncram_jii1.tdf
/db/altsyncram_jvl1.tdf
/db/altsyncram_k5m1.tdf
/db/altsyncram_kvl1.tdf
/db/altsyncram_l5m1.tdf
/db/altsyncram_lvl1.tdf
/db/altsyncram_m5m1.tdf
/db/altsyncram_mvl1.tdf
/db/altsyncram_vih1.tdf
/db/logic_util_heursitic.dat
/db/prev_cmp_processor.qmsg
/db/processor.(0).cnf.cdb
/db/processor.(0).cnf.hdb
/db/processor.(1).cnf.cdb
/db/processor.(1).cnf.hdb
/db/processor.(10).cnf.cdb
/db/processor.(10).cnf.hdb
/db/processor.(11).cnf.cdb
/db/processor.(11).cnf.hdb
/db/processor.(12).cnf.cdb
/db/processor.(12).cnf.hdb
/db/processor.(13).cnf.cdb
/db/processor.(13).cnf.hdb
/db/processor.(14).cnf.cdb
/db/processor.(14).cnf.hdb
/db/processor.(15).cnf.cdb
/db/processor.(15).cnf.hdb
/db/processor.(16).cnf.cdb
/db/processor.(16).cnf.hdb
/db/processor.(17).cnf.cdb
/db/processor.(17).cnf.hdb
/db/processor.(18).cnf.cdb
/db/processor.(18).cnf.hdb
/db/processor.(19).cnf.cdb
/db/processor.(19).cnf.hdb
/db/processor.(2).cnf.cdb
/db/processor.(2).cnf.hdb
/db/processor.(20).cnf.cdb
/db/processor.(20).cnf.hdb
/db/processor.(21).cnf.cdb
/db/processor.(21).cnf.hdb
/db/processor.(22).cnf.cdb
/db/processor.(22).cnf.hdb
/db/processor.(23).cnf.cdb
/db/processor.(23).cnf.hdb
/db/processor.(24).cnf.cdb
/db/processor.(24).cnf.hdb
/db/processor.(25).cnf.cdb
/db/processor.(25).cnf.hdb
/db/processor.(26).cnf.cdb
/db/processor.(26).cnf.hdb
/db/processor.(27).cnf.cdb
/db/processor.(27).cnf.hdb
/db/processor.(28).cnf.cdb
/db/processor.(28).cnf.hdb
/db/processor.(29).cnf.cdb
/db/processor.(29).cnf.hdb
/db/processor.(3).cnf.cdb
/db/processor.(3).cnf.hdb
/db/processor.(30).cnf.cdb
/db/processor.(30).cnf.hdb
/db/processor.(31).cnf.cdb
/db/processor.(31).cnf.hdb
/db/processor.(32).cnf.cdb
/db/processor.(32).cnf.hdb
/db/processor.(33).cnf.cdb
/db/processor.(33).cnf.hdb
/db/processor.(34).cnf.cdb
/db/processor.(34).cnf.hdb
/db/processor.(35).cnf.cdb
/db/processor.(35).cnf.hdb
/db/processor.(36).cnf.cdb
/db/processor.(36).cnf.hdb
/db/processor.(37).cnf.cdb
/db/processor.(37).cnf.hdb
/db/processor.(38).cnf.cdb
/db/processor.(38).cnf.hdb
/db/processor.(39).cnf.cdb
/db/processor.(39).cnf.hdb
/db/processor.(4).cnf.cdb
/db/processor.(4).cnf.hdb
/db/processor.(40).cnf.cdb
/db/processor.(40).cnf.hdb
/db/processor.(41).cnf.cdb
/db/processor.(41).cnf.hdb
/db/processor.(42).cnf.cdb
/db/processor.(42).cnf.hdb
/db/processor.(43).cnf.cdb
/db/processor.(43).cnf.hdb
/db/processor.(44).cnf.cdb
/db/processor.(44).cnf.hdb
/db/processor.(45).cnf.cdb
/db/processor.(45).cnf.hdb
/db/processor.(46).cnf.cdb
/db/processor.(46).cnf.hdb
/db/processor.(47).cnf.cdb
/db/processor.(47).cnf.hdb
/db/processor.(48).cnf.cdb
/db/processor.(48).cnf.hdb
/db/processor.(49).cnf.cdb
/db/processor.(49).cnf.hdb
/db/processor.(5).cnf.cdb
/db/processor.(5).cnf.hdb
/db/processor.(50).cnf.cdb
/db/processor.(50).cnf.hdb
/db/processor.(51).cnf.cdb
/db/processor.(51).cnf.hdb
/db/processor.(52).cnf.cdb
/db/processor.(52).cnf.hdb
/db/processor.(53).cnf.cdb
/db/processor.(53).cnf.hdb
/db/processor.(54).cnf.cdb
/db/processor.(54).cnf.hdb
/db/processor.(55).cnf.cdb
/db/processor.(55).cnf.hdb
/db/processor.(56).cnf.cdb
/db/processor.(56).cnf.hdb
/db/processor.(57).cnf.cdb
/db/processor.(57).cnf.hdb
/db/processor.(58).cnf.cdb
/db/processor.(58).cnf.hdb
/db/processor.(59).cnf.cdb
/db/processor.(59).cnf.hdb
/db/processor.(6).cnf.cdb
/db/processor.(6).cnf.hdb
/db/processor.(60).cnf.cdb
/db/processor.(60).cnf.hdb
/db/processor.(61).cnf.cdb
/db/processor.(61).cnf.hdb
/db/processor.(62).cnf.cdb
/db/processor.(62).cnf.hdb
/db/processor.(63).cnf.cdb
/db/processor.(63).cnf.hdb
/db/processor.(64).cnf.cdb
/db/processor.(64).cnf.hdb
/db/processor.(65).cnf.cdb
/db/processor.(65).cnf.hdb
/db/processor.(66).cnf.cdb
/db/processor.(66).cnf.hdb
/db/processor.(67).cnf.cdb
/db/processor.(67).cnf.hdb
/db/processor.(68).cnf.cdb
/db/processor.(68).cnf.hdb
/db/processor.(69).cnf.cdb
/db/processor.(69).cnf.hdb
/db/processor.(7).cnf.cdb
/db/processor.(7).cnf.hdb
/db/processor.(70).cnf.cdb
/db/processor.(70).cnf.hdb
/db/processor.(71).cnf.cdb
/db/processor.(71).cnf.hdb
/db/processor.(72).cnf.cdb
/db/processor.(72).cnf.hdb
/db/processor.(73).cnf.cdb
/db/processor.(73).cnf.hdb
/db/processor.(8).cnf.cdb
/db/processor.(8).cnf.hdb
/db/processor.(9).cnf.cdb
/db/processor.(9).cnf.hdb
/db/processor.ace_cmp.bpm
/db/processor.ace_cmp.cdb
/db/processor.ace_cmp.hdb
/db/processor.amm.cdb
/db/processor.asm.qmsg
/db/processor.asm.rdb
/db/processor.asm_labs.ddb
/db/processor.cbx.xml
/db/processor.cmp.bpm
/db/processor.cmp.cdb
/db/processor.cmp.hdb
/db/processor.cmp.kpt
/db/processor.cmp.logdb
/db/processor.cmp.rdb
/db/processor.cmp0.ddb
/db/processor.cmp1.ddb
/db/processor.cmp2.ddb
/db/processor.cmp_merge.kpt
/db/processor.db_info
/db/processor.eco.cdb
/db/processor.fit.qmsg
/db/processor.hier_info
/db/processor.hif
/db/processor.idb.cdb
/db/processor.lpc.html
/db/processor.lpc.rdb
/db/processor.lpc.txt
/db/processor.map.bpm
/db/processor.map.cdb
/db/processor.map.hdb
/db/processor.map.kpt
/db/processor.map.logdb
/db/processor.map.qmsg
/db/processor.map_bb.cdb
/db/processor.map_bb.hdb
/db/processor.map_bb.logdb
/db/processor.pre_map.cdb
/db/processor.pre_map.hdb
/db/processor.ram0_async_memory_60a808a9.hdl.mif
/db/processor.ram0_async_memory_ea4acf6d.hdl.mif
/db/processor.ram0_inst_rom_57a14202.hdl.mif
/db/processor.ram0_inst_rom_61b2aedb.hdl.mif
/db/processor.ram0_inst_rom_85ef5901.hdl.mif
/db/processor.ram0_inst_rom_97c35e55.hdl.mif
/db/processor.ram1_async_memory_60a808a9.hdl.mif
/db/processor.ram1_async_memory_ea4acf6d.hdl.mif
/db/processor.ram2_async_memory_60a808a9.hdl.mif
/db/processor.ram2_async_memory_ea4acf6d.hdl.mif
/db/processor.ram3_async_memory_60a808a9.hdl.mif
/db/processor.ram3_async_memory_ea4acf6d.hdl.mif
/db/processor.rpp.qmsg
/db/processor.rtlv.hdb
/db/processor.rtlv_sg.cdb
/db/processor.rtlv_sg_swap.cdb
/db/processor.sgate.rvd
/db/processor.sgate_sm.rvd
/db/processor.sgdiff.cdb
/db/processor.sgdiff.hdb
/db/processor.sld_design_entry.sci
/db/processor.sld_design_entry_dsc.sci
/db/processor.smart_action.txt
/db/processor.sta.qmsg
/db/processor.sta.rdb
/db/processor.sta_cmp.7_slow.tdb
/db/processor.syn_hier_info
/db/processor.tan.qmsg
/db/processor.taw.rdb
/db/processor.tis_db_list.ddb
/incremental_db/README
/incremental_db/compiled_partitions/processor.db_info
/incremental_db/compiled_partitions/processor.root_partition.cmp.cdb
/incremental_db/compiled_partitions/processor.root_partition.cmp.dfp
/incremental_db/compiled_partitions/processor.root_partition.cmp.hdb
/incremental_db/compiled_partitions/processor.root_partition.cmp.kpt
/incremental_db/compiled_partitions/processor.root_partition.cmp.logdb
/incremental_db/compiled_partitions/processor.root_partition.cmp.rcfdb
/incremental_db/compiled_partitions/processor.root_partition.map.cdb
/incremental_db/compiled_partitions/processor.root_partition.map.dpi
/incremental_db/compiled_partitions/processor.root_partition.map.hbdb.cdb
/incremental_db/compiled_partitions/processor.root_partition.map.hbdb.hb_info
/incremental_db/compiled_partitions/processor.root_partition.map.hbdb.hdb
/incremental_db/compiled_partitions/processor.root_partition.map.hbdb.sig
/incremental_db/compiled_partitions/processor.root_partition.map.hdb
/incremental_db/compiled_partitions/processor.root_partition.map.kpt
/inst_rom.v.bak
/lab4.docx
/lab4.pdf
/loaddelay.bmp
/modelsim.ini
/nobranchdealy.bmp
/nobranchdealy2.bmp
/processor.asm.rpt
/processor.done
/processor.fit.rpt
/processor.fit.smsg
/processor.fit.summary
/processor.flow.rpt
/processor.map.rpt
/processor.map.summary
/processor.pin
/processor.pof
/processor.qpf
/processor.qsf
/processor.sdc
/processor.sof
/processor.sta.rpt
/processor.sta.summary
/processor.tis_db_list.ddb
/processor.v.bak
/turnin/MIPS CONTROLLER.xls
/turnin/Makefile
/turnin/branch-delay.s
/turnin/cse141L-lab4-guan-patrick.zip
/turnin/fib.c
/turnin/fibrec.c
/turnin/lab4.pdf
/turnin/lab4test.s
/turnin/lib141.c
/turnin/lib141.h
/turnin/load-delay.s
/vsim.wlf
/wave.do
/wave2.do
/waveform test4.bmp
/wlft0nbfqi
/wlft0wwt3y
/wlft1byj9f
/wlft1jsw4j
/wlft9c4vsx
/wlftjahcde
/wlftjin6w6
/wlftmcy68j
/wlftmsjhrf
/wlftssd7ms
/wlftx2t1r9
/wlftyrfgb7
/wlftz81vv9
/work/_info
/work/_temp/vlog7jw6iw
/work/_temp/vlogbk0yj2
/work/_temp/vlogezt6mf
/work/_temp/vlogf6k56d
/work/_temp/vloggg85ir
/work/_temp/vlogi7beij
/work/_temp/vlogkzjz2y
/work/_temp/vlogmhnsd6
/work/_temp/vlogxvwbdw
/work/_vmake
/work/adder/_primary.dat
/work/adder/_primary.dbs
/work/adder/_primary.vhd
/work/adder/verilog.prw
/work/adder/verilog.psm
/work/alu/_primary.dat
/work/alu/_primary.dbs
/work/alu/_primary.vhd
/work/alu/verilog.prw
/work/alu/verilog.psm
/work/async_memory/_primary.dat
/work/async_memory/_primary.dbs
/work/async_memory/_primary.vhd
/work/async_memory/verilog.prw
/work/async_memory/verilog.psm
/work/control/_primary.dat
/work/control/_primary.dbs
/work/control/_primary.vhd
/work/control/verilog.prw
/work/control/verilog.psm
/work/data_memory/_primary.dat
/work/data_memory/_primary.dbs
/work/data_memory/_primary.vhd
/work/data_memory/verilog.prw
/work/data_memory/verilog.psm
/work/inst_rom/_primary.dat
/work/inst_rom/_primary.dbs
/work/inst_rom/_primary.vhd
/work/inst_rom/verilog.prw
/work/inst_rom/verilog.psm
/work/leftshift2/_primary.dat
/work/leftshift2/_primary.dbs
/work/leftshift2/_primary.vhd
/work/leftshift2/verilog.prw
/work/leftshift2/verilog.psm
/work/mux/_primary.dat
/work/mux/_primary.dbs
/work/mux/_primary.vhd
/work/mux/verilog.prw
/work/mux/verilog.psm
/work/mux4to1/_primary.dat
/work/mux4to1/_primary.dbs
/work/mux4to1/_primary.vhd
/work/mux4to1/verilog.prw
/work/mux4to1/verilog.psm
/work/processor/_primary.dat
/work/processor/_primary.dbs
/work/processor/_primary.vhd
/work/processor/verilog.prw
/work/processor/verilog.psm
/work/program_counter/_primary.dat
/work/program_counter/_primary.dbs
/work/program_counter/_primary.vhd
/work/program_counter/verilog.prw
/work/program_counter/verilog.psm
/work/reg_file/_primary.dat
/work/reg_file/_primary.dbs
/work/reg_file/_primary.vhd
/work/reg_file/verilog.prw
/work/reg_file/verilog.psm
/work/serial_buffer/_primary.dat
/work/serial_buffer/_primary.dbs
/work/serial_buffer/_primary.vhd
/work/serial_buffer/verilog.prw
/work/serial_buffer/verilog.psm
/work/sign_extend/_primary.dat
/work/sign_extend/_primary.dbs
/work/sign_extend/_primary.vhd
/work/sign_extend/verilog.prw
/work/sign_extend/verilog.psm
/work/testbench/_primary.dat
/work/testbench/_primary.dbs
/work/testbench/_primary.vhd
/work/testbench/verilog.prw
/work/testbench/verilog.psm
/worstcase.PNG
/wtf/_info